<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<title>Novoland-Wiki</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="static/layui/css/layui.css">
		<link rel="stylesheet" href="static/wiki/css/main.css">
		<link rel="stylesheet" href="static/wiki/css/index.css">
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
		<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body class="">
		
		<div class="container">
			<!--头部start-->
			<div class="layui-header layui-bg-black">
				<div class="layui-main">
					<h1>
						<a href="/" class="">九州</a>
					</h1>
				</div>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:void(0);" class="layui-btn-container">{$username}</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:void(0);" class="layui-btn-container logout">退出登录</a>
					</li>
				</ul>
			</div>
			<!--头部end-->
			
			<!--中部start-->
			<div class="layui-row top">
				<!--地图start-->
				<div class="layui-col-lg9 layui-col-md9 layui-col-sm9 main-map"></div>
				<!--地图end-->
				
				<!--角色面板start-->
				<div class="layui-col-lg3 layui-col-md3 layui-col-sm3 main-panel layui-bg-gray">
					<div class="layui-fluid">
						<div class="layui-card panel">
							<div class="layui-card-header layui-bg-cyan">角色面板</div>
							<div class="layui-card-body">
								<div>属性</div>
								<div>属性</div>
								<div>属性</div>
								<div>属性</div>
							</div>
						</div>
						<div class="layui-collapse">
							<div class="layui-colla-item">
								<h2 class="layui-colla-title layui-bg-cyan">属性值</h2>
								<div class="layui-colla-content layui-show">内容区域</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title layui-bg-cyan">特殊效果</h2>
								<div class="layui-colla-content layui-show">内容区域</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title layui-bg-cyan">能力</h2>
								<div class="layui-colla-content layui-show">内容区域</div>
							</div>
						</div>
					</div>
				</div>
				<!--角色面板end-->
			</div>
			<!--中部end-->
			
			<!--底部聊天框 start-->
			<div class="layui-row footer">
				<div class="layui-col-lg12 layui-col-md12 layui-col-sm12 layui-col-xs12 chat layui-bg-green">
					<div class="layui-row">
						<div class="layui-col-lg4 chat-title layui-col-lg-offset4 layui-bg-gray">世界频道</div>
					</div>
					<div class="layui-row chat-content">
						<div id="chat-detail"
								 class="layui-col-lg5 layui-col-md5 layui-col-md-offset1 layui-col-lg-offset1 chat-detail"></div>
						<div class="layui-col-lg4 layui-col-md4 layui-col-lg-offset1 layui-col-md-offset1">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<div class="layui-inline">
										<div class="layui-input-inline">
											<textarea class="layui-textarea send-content" title=""></textarea>
											<div class="layui-btn-group">
												<button type="button" class="layui-btn-sm layui-btn chat-send" to="0">发送</button>
												<button type="button" class="layui-btn layui-btn-sm layui-btn-primary to-all" style="display:
												 none">改为发送到世界频道
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--底部聊天框 end-->
		</div>
		
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="static/layui/layui.js"></script>
		<script src="static/wiki/js/index.js"></script>
		<script>
        layui.use('layer', function () {
            var layer = layui.layer;
            $(function () {
                $(".logout").click(function () {
                    layer.confirm("确定要离开了吗？", {icon: 3, title: ''}, function (index) {
                        layer.close(index);
                        layer.msg("所谓弃族的命运<br>就是要穿越荒原<br>再次竖起战旗<br>返回故乡<br>死不可怕<br>只是一场长眠", {time: 8000});
                        setTimeout(function () {
                            window.location.href = "{:url('User/Index/logout')}";
                        }, 5500);
                    });
                });
            });
        });
		</script>
		<!--生成唯一标识用于ws-->
		<script>
        //用于生成uuid
        /**
         * @return {string}
         */
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }

        function guuid() {
            return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
        }
		</script>
		<!--ws-chat-->
		<script>
        ws = new WebSocket("ws://novoland.doylee.cn:4619");
        ws.onopen = function () {
            var uuid = "{$username} {$user_id} " + guuid();
            ws.send(`${uuid}`);
        };
        ws.onmessage = function (e) {
            var res = eval('(' + e.data + ')');
            var code = res.code, msg = res.msg, data = res.data;
            if (code === 1 || code === '1') {
                console.warn(msg);
                var notice = `<div>
																<span class="layui-badge layui-bg-cyan" style="display: block;text-align: center">${data[0]} 已上线！</span>
															</div>`;
            } else {
                if (code === 2 || code === '2') {
                    console.info(msg);
                    var notice = `<div>
																		<span class="layui-badge layui-bg-gray" style="display: block;text-align: center">${msg}</span>
																	</div>`;
                } else {
                    if (code === 3 || code === '3') {
                        var notice =
														`<div class="layui-row chat-msg" style="color: ${data.color};border: 1px solid #c2c2c2;" uuid="${data.uuid}">
																			<span>${data.time}</span>
																			<div></div>
																			<span class="username">${data.username}：</span>
																			<span>${data.content}</span>
																		</div>`;
                    }else{
                        var notice = `<div class="layui-row chat-msg" style="color: ${data.color};" uuid="${data.uuid}">
																			<span>${data.time}</span>
																			<div></div>
																			【世界】<span class="username">${data.username}：</span>
																			<span>${data.content}</span>
																		</div>`;
										}
                }
            }
            $(".chat-detail").append(notice);
            var div = document.getElementById('chat-detail');
            div.scrollTop = div.scrollHeight;

        };
        // 发送消息
        $(".chat-send").click(function () {
            var uuid = $(this).attr("to");
            var rec_id = uuid === 0 || uuid === '0' ? 'all' : uuid;
            var content = $(".send-content").val();
            if (content !== '' && content !== null && content !== undefined) {
                ws.send(`${rec_id}:${content}`);
            }
            $(".send-content").val("").focus();
        });
        // 点击发送给指定用户
        $(".chat-detail").on("click", ".chat-msg", function () {
            var uuid = $(this).attr("uuid"), username = $(this).find('.username').text();
            $(".send-content").attr('placeholder', '发送给' + username);
            $(".chat-send").attr("to", uuid);
            $(".to-all").show();
        });
        $(".to-all").click(function () {
            $(".send-content").removeAttr("placeholder");
            $(".chat-send").attr("to", 0);
            $(this).hide();
        });
		</script>
	</body>
</html>