<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
		<link rel="stylesheet" href="__STATIC__/wiki/css/main.css">
		<link rel="stylesheet" href="__STATIC__/user/css/index.css">
	</head>
	<body style="background: #EEEEEE">
		<!--头部start-->
		<div class="layui-header layui-bg-black">
			<div class="layui-main">
				<h1>
					<a>九州</a>
				</h1>
			</div>
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<a href="{:url('signIn')}" class="layui-btn-container">注册</a>
				</li>
			</ul>
		</div>
		<!--头部end-->
		<div class="layui-container">
			
			<!--标题-->
			<div class="layui-row">
				<div class="title">
					<h1>使用论坛账号登录</h1>
				</div>
			</div>
		
		</div>
		<div class="layui-container form">
			<!--表单-->
			<form action="{:url('login')}" class="layui-form">
				<div class="layui-form-item">
					<input type="text" name="username" id="username" required lay-verify="required" placeholder="用户名" autocomplete="true" class="layui-input">
				</div>
				<div class="layui-form-item">
					<input type="password" name="password" id="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
				</div>
				
				<div class="layui-row">
					<div class="layui-col-md4 layui-col-md-offset4">
						<button type="button" class="submit layui-btn layui-btn-fluid">使用论坛账号登录</button>
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-col-md4 layui-col-md-offset4">
						<a href="{:url('index')}" class="logAsBBS layui-btn layui-btn-primary layui-btn-fluid">跳转到游戏账号登录</a>
					</div>
				</div>
			</form>
		</div>
		
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
		<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="__STATIC__/layui/layui.js"></script>
		<script>
        layui.use('form', function () {
            var form = layui.form;
        });
        layui.use('layer', function () {
            var layer = layui.layer;
            var post_url = $("form").attr("action");
            $(".submit").click(function () {
                $.post(post_url, {
                    "username": $.trim($("input[name='username']").val()),
                    "password": $.trim($("input[name='password']").val())
                }, function (res) {
                    var code = res.code;
                    var msg = res.msg;
                    if (code !== 0 && code !== '0') {
                        layer.msg(msg, {icon: 2});
                    } else {
                        layer.msg(msg, {icon: 1});
                        setTimeout(function () {
                            window.location.href = "/";
                        }, 3000)
                    }
                }, 'json');
            });
        });
		</script>
	</body>
</html>